
* {
    font-size: 22pt;
    color:  #FFF;
}

body {
    margin-top: 200px;
    background-image: url(photo/debab.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

